<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Federal attorney generals of laws : xxx </title>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="assests/images/logo.png">
    <!-- Bootstrap CSS  -->
    <link rel="stylesheet" type="text/css" href="assests/css/bootstrap.min.css">
    <!-- Owl Carousel CSS  -->
    <link rel="stylesheet" type="text/css" href="assests/css/owl.carousel.min.css">
    <!-- font CSS -->
    <link rel="stylesheet" type="text/css" href="assests/css/fonts.css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="assests/css/all.css">
    <link rel="stylesheet" href="assests/css/all.min.css">
    <!-- magnific popup-->
    <link rel="stylesheet" href="assests/css/magnific-popup.css">
    <!-- Animate Css-->
    <link rel="stylesheet" href="assests/css/animate.css">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="assests/css/style.css">
    <link rel="stylesheet" href="assests/css/responsive.css">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="assests/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- preloder start -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <!-- preloder end -->
    <!-- Top Scroll Start -->
    <a href="javascript:" id="return-to-top"> <i class="fas fa-angle-double-up"></i>
    </a>

    <!-- Top Scroll End -->
    <div class="top_header_1">
        <div class="container-fluid custom_container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-12">
                    <div class="left_side"> <a href="#"><i
                                class="far fa-envelope"></i><span>support@federalattorneygeneralslaws.com</span></a>
                        <a href="#"><i class="fas fa-map-marker-alt"></i><span>132, New York Street,NY</span></a>
                        <a href="#"><i class="fas fa-phone-alt"></i><span>+1(409)210-3883</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--top header end-->
    <!---sidebar start -->
    <div class="rp_mobail_menu_main_wrapper d-block d-sm-block d-md-block d-lg-none d-xl-none">

        <div id="sidebar">
            <div class="logo">
                <img src="assests/images/logo.png" alt="logo">
            </div>
            <div id="toggle_close">&times;</div>
            <div id="cssmenu" class="wd_single_index_menu">
                <ul>
                    <li>
                        <form class="sidebar_search">
                            <input type="search" placeholder="Search..." />
                            <button> <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </form>
                    </li>
                    <li> <a href="/index_4">home</a>

                    </li>

                    

                    <li><a href="/attorneys_4">attorneys</a>

                    </li>

                    <li class="has-sub"> <a href="/practice-area_4">practice areas</a>
                        <ul>
                            <li><a href="/civil-Litigation_4">Civil Litigation</a>
                            </li>
                            <li><a href="/family-law_4">Family Law</a>
                            </li>
                            <li><a href="/real-estate-law_4">Real Estate Law</a>
                            </li>
                            <li><a href="/construction-law_4">Construction law</a>
                            </li>
                            <li><a href="/probate-law_4">Probate Law</a>
                            </li>
                            <li><a href="/real-property_4">
                                    Real Property
                                </a>
                            </li>
                            <li><a href="/business-law_4">Business Law</a>
                            </li>
                            <li><a href="/elder-law_4">Elder Law</a>
                            </li>

                        </ul>
                    </li>

                    <li> <a href="/blogs_4">blogs</a>
                    </li>

                    <li><a href="/cases_1">cases</a>
                    </li>

                    <li class="has-sub"><a>information</a>
                        <ul>
                            <li><a href="/about_4">about us</a>
                            </li>

                            <li><a href="/pricing_4">our pricing</a>
                            </li>

                            <li><a href="/gallery_4">gallery</a>

                            </li>

                            <li><a href="/faqs_4">faqs</a>
                            </li>

                            <li><a href="/contact_4">Contact</a>
                            </li>

                        </ul>

                    </li>

                    <li><a href="/track-case_1">track case</a>
                    </li>


                </ul>
            </div>
            <div class="sidebar_block">
                <div class="email_side"> <a href="#"><i
                            class="far fa-envelope"></i><span>support@federalattorneygeneralslaws.com</span></a>
                </div>
                <div class="media_side1">
                    <ul>
                        <li> <a href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li> <a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li> <a href="#"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li> <a href="#"><i class="fab fa-pinterest-p"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!---sidebar end -->
    <div class="slider">
        <div class="menu_wrapper header-area hidden-menu-bar stick">
            <div class="container-fluid">
                <div class="menu_wrapper_mn">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-2 col-sm-2">
                                    <div class="logo">
                                        <a href="/index_2">
                                            <img src="assests/images/logo.png" alt="logo">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-10 col-sm-10">
                                    <div id="toggle" class="d-block d-sm-block d-md-block d-lg-none d-xl-none"><i
                                            class="fas fa-align-left"></i>
                                    </div>
                                    <div class="main_btn hidden_btn"> <a href="/track-case_1">Track Case</a>
                                    </div>


                                    <nav
                                        class="navbar navbar-expand-sm d-xl-block d-lg-block d-md-none d-sm-none d-none">
                                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                            data-target="#navbar-list-3" aria-expanded="false"
                                            aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
                                        </button>
                                        <!-- Links -->
                                        <ul class="nav navbar-nav" id="nav_filter">
                                            <li class="nav-item dropdown"> <a class="nav-link" href="/index_4">
                                                    home
                                                </a>

                                            </li>

                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle active">
                                                    information
                                                </a>
                                                <ul class="sub_menu">
                                                    <li> <a class="nav-item" href="/about_4">about us
                                                            <span><i></i></span></a>
                                                    </li>
                                                    <li> <a href="/pricing_4">our pricing</a>
                                                    </li>
                                                    <li> <a href="/gallery_4">gallery</a>
                                                    </li>


                                                    <li> <a href="/faqs_4">faqs</a>
                                                    </li>

                                                    <li> <a href="/contact_4">contact</a>
                                                    </li>

                                                </ul>
                                            </li>
                                            <li class="nav-item dropdown"> <a href="/attorneys_4">
                                                    Attorneys
                                                </a>

                                            </li>
                                            <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle"
                                                    href="/practice-area_4" data-toggle="dropdown">
                                                    practice areas
                                                </a>
                                                <div class="hovr_nav_tab">
                                                    <div class="mega_menu">
                                                        <div class="mega_40">
                                                            <ul>
                                                                <li><a href="/civil-Litigation_4">Civil Litigation</a>
                                                                </li>
                                                                <li><a href="/family-law_4">Family Law</a>
                                                                </li>
                                                                <li><a href="/real-property_4">Real Estate Law</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="mega_40">
                                                            <ul>
                                                                <li><a href="/real-property_4">Construction law</a>
                                                                </li>
                                                                <li><a href="/probate-law_4">Probate Law</a>
                                                                </li>
                                                                <li><a href="/real-property_4">Real Property</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="mega_40">
                                                            <ul>
                                                                <li><a href="/business-law_4">Business Law</a>
                                                                </li>

                                                                <li><a href="/elder-law_4">Elder Law</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="nav-item dropdown"> <a class="nav-link " href="/blogs_4">
                                                    blog
                                                </a>

                                            </li>
                                            <li class="nav-item dropdown"><a class="nav-link " href="/cases_1">Case
                                                </a>

                                            </li>

                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page_bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="page_name">
                            <h2 data-splitting>about us</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="page_path">
                            <p><a href="#">home</a> <i class="fas fa-circle"></i><a class="active" href="#"> about
                                    us</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about_us">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-6 col-md-12 col-12">
                    <div class="about_us_text">
                        <div class="header_border"> <i class="fas fa-balance-scale"></i>
                        </div>
                        <div class="heading_class">
                            <h4>About Federal attorney generals of laws</h4>
                            <h2>We Are The<br>Leading Legal Company</h2>
                        </div>
                        <div class="paragraph_class">
                            <p>We provides legal services and guidance for estate planning, civil Litigation, real
                                property, family law, business law, construction law, and probate law.</p>
                            <p><span>Veterans, police, and first responders get a Heroes discount at our firm. You can
                                    come to us for basic wills for $100 or less. Personal injury consultations are FREE!
                                    And there's no fee if no recovery on personal injury cases. </span>
                            </p>
                        </div>

                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 hidden-md-down"></div>
                <div class="col-xl-4 col-lg-4 hidden-md-down"></div>
            </div>
        </div>
    </div>
    <div class="about_us_page">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 hidden-md-down"></div>
                <div class="col-lg-7 col-md-12 col-12">
                    <div class="about_us_text">
                        <div class="paragraph_class">
                            <h5>Year Established</h5>
                            <p>1949</p>
                            <h5>Services</h5>
                            <ul>
                                <li>Domestic Relations</li>
                                <li>Estate Planning</li>
                                <li>Real Property</li>
                            </ul>
                            <h5>Specialties</h5>
                            <ul>
                                <li>Construction Litigation</li>
                                <li>Family Law/Domestic Relations</li>
                                <li>Real Estate Law</li>
                            </ul>
                            <h5>Associations</h5>
                            <ul>
                                <li>Martindale Hubbell</li>
                            </ul>
                            <h5>Languages</h5>
                            <ul>
                                <li>English</li>
                                <li>French</li>
                                <li>Spanish</li>
                            </ul>
                        </div>
                        <div class="about_us_number">
                            <h4>Just call us. We can answer all your questions</h4>
                            <a href="#"><i class="fas fa-phone-alt"></i></a>
                            <p><span>+1(409)210-3883</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contact_us">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-12">
                    <div class="contact_us_text">
                        <h2>Happy To Discuss About Your Requirement</h2>
                        <p>You can discuss anything with us with ease regaring our services and we are alwasy available
                            <br>Just click on the contact us button.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12">
                    <div class="main_btn"> <a href="/contact_5">contact us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="footer_content">
                        <div class="logo">
                            <a href="/index_2">
                                <img src="assests/images/logo.png" alt="logo">
                            </a>
                        </div>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout.</p>
                        <div class="left_icon margine_top">
                            <ul>
                                <li> <a href="#"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li> <a href="#"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li> <a href="#"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li class="ex_mar"> <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="footer_content">
                        <h5>Contact Info</h5>
                        <div class="footer_list margine_top_class">
                            <ul>
                                <li>
                                    <div class="left_icon"> <a href="#"><i class="fas fa-phone-alt"></i></a>
                                    </div>
                                    <div class="right_text"> <a href="#">+1(409)210-3883</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="left_icon"> <a href="#"><i class="fas fa-envelope"></i></a>
                                    </div>
                                    <div class="right_text"> <a href="#">support@federalattorneygeneralslaws.com </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="left_icon"> <a href="#"><i class="fas fa-map-marker-alt"></i></a>
                                    </div>
                                    <div class="right_text"> <a href="#">132, New York Street,NY</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="footer_content">
                        <h5>Services</h5>
                        <div class="footer_list">
                            <ul>
                                <li><a href="/real-property_2"><i class="fas fa-chevron-right"></i>Real Property</a>
                                </li>
                                <li><a href="/real-estate-law_3"><i class="fas fa-chevron-right"></i>Real Estate
                                        Law</a>
                                </li>
                                <li><a href="/probate-law_4"><i class="fas fa-chevron-right"></i>Probate Law</a>
                                </li>
                                <li><a href="/elder-law_4"><i class="fas fa-chevron-right"></i>Elder Law</a>
                                </li>
                                <li><a href="/civil-Litigation_3"><i class="fas fa-chevron-right"></i>Civil
                                        Litigation</a>
                                </li>
                                <li><a href="/family-law_2"><i class="fas fa-chevron-right"></i>Family Law </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="footer_content">
                        <h5>Latest News</h5>
                        <div class="footer_list">
                            <div class="footer_box">
                                <div class="opening-hours">
                                    <ul class="list-border">
                                        <li class="clearfix"> <span> Mon - Tues : </span>
                                            <div class="value pull-right"> 6.00 am - 10.00 pm </div>
                                        </li>
                                        <li class="clearfix"> <span> Wednes - Thurs :</span>
                                            <div class="value pull-right"> 8.00 am - 6.00 pm </div>
                                        </li>
                                        <li class="clearfix"> <span> Fri : </span>
                                            <div class="value pull-right"> 3.00 pm - 8.00 pm </div>
                                        </li>
                                        <li class="clearfix"> <span> Sun : Closed</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </footer>
    <div class="copy_right">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="copy_right_left">
                        <p>© Copyright
                            <script> document.write(new Date().getFullYear()) </script> | <a href="#">All Rights
                                Reserved.</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="//code.tidio.co/hzmpfjreuz875t1ferej7yg6jgtuxjvj.js" async></script>



    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="assests/js/jquery-3.5.1.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="assests/js/bootstrap.min.js"></script>
    <!-- Owl Carousel JS -->
    <script src="assests/js/owl.carousel.min.js"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="assests/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- lightbox js-->
    <script src="assests/js/jquery.magnific-popup.js"></script>
    <!-- Custom js -->
    <script src="assests/js/custom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.js"></script>
<script src="//code.tidio.co/xc8kehvooj4uezz14zuo7jd7ojmohtfk.js" async></script>
</body>



<!-- Mirrored from federalattorneygeneralslaws.com/about.php by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 26 Aug 2023 12:32:11 GMT -->

</html>