<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from federalattorneygeneralslaws.com/civil-Litigation.php by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 26 Aug 2023 12:32:10 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Federal attorney generals of laws : xxx </title>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="assests/images/logo.png">
    <!-- Bootstrap CSS  -->
    <link rel="stylesheet" type="text/css" href="assests/css/bootstrap.min.css">
    <!-- Owl Carousel CSS  -->
    <link rel="stylesheet" type="text/css" href="assests/css/owl.carousel.min.css">
    <!-- font CSS -->
    <link rel="stylesheet" type="text/css" href="assests/css/fonts.css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="assests/css/all.css">
    <link rel="stylesheet" href="assests/css/all.min.css">
    <!-- magnific popup-->
    <link rel="stylesheet" href="assests/css/magnific-popup.css">
    <!-- Animate Css-->
    <link rel="stylesheet" href="assests/css/animate.css">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="assests/css/style.css">
    <link rel="stylesheet" href="assests/css/responsive.css">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="assests/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="../cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css">
</head>

<body>
    <!-- preloder start -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <!-- preloder end -->
    <!-- Top Scroll Start -->
    <a href="javascript:" id="return-to-top"> <i class="fas fa-angle-double-up"></i>
    </a>

    <!-- Top Scroll End -->
    <div class="top_header_1">
        <div class="container-fluid custom_container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-12">
                    <div class="left_side"> <a href="#"><i
                                class="far fa-envelope"></i><span>support@federalattorneygeneralslaws.com</span></a>
                        <a href="#"><i class="fas fa-map-marker-alt"></i><span>132, New York Street,NY</span></a>
                        <a href="#"><i class="fas fa-phone-alt"></i><span>+1(409)210-3883</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--top header end-->
    <!---sidebar start -->
    <div class="rp_mobail_menu_main_wrapper d-block d-sm-block d-md-block d-lg-none d-xl-none">

        <div id="sidebar">
            <div class="logo">
                <img src="assests/images/logo.png" alt="logo">
            </div>
            <div id="toggle_close">&times;</div>
            <div id="cssmenu" class="wd_single_index_menu">
                <ul>
                    <li>
                        <form class="sidebar_search">
                            <input type="search" placeholder="Search..." />
                            <button> <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </form>
                    </li>
                    <li> <a href="/index_2">home</a>
        
                    </li>
        
                    <li ><a href="/attorneys_2">attorneys</a>
                        
                    </li>
        
                    <li class="has-sub"> <a href="/practice-area_2">practice areas</a>
                        <ul>
                            <li><a href="/civil-Litigation_2">Civil Litigation</a>
                            </li>
                            <li><a href="/family-law_2">Family Law</a>
                            </li>
                            <li><a href="/real-estate-law_2">Real Estate Law</a>
                            </li>
                            <li><a href="/construction-law_2">Construction law</a>
                            </li>
                            <li><a href="/probate-law_2">Probate Law</a>
                            </li>
                            <li><a href="/real-property_1">
                                    Real Property
                                </a>
                            </li>
                            <li><a href="/business-law_2">Business Law</a>
                            </li>
                            <li><a href="/elder-law_2">Elder Law</a>
                            </li>

                            <li><a href="/track-case_1">Bank</a></li>
<li><a href="/track-case_1">Carrier service</a></li>
<li><a href="/track-case_1">Bitcoin</a></li>

        
                        </ul>
                    </li>
                    <li> <a href="/blogs_1">blogs</a>
        
                    </li>
        
                    <li><a href="/cases_1">cases</a>
                    </li>


                    <li class="has-sub"><a>information</a>
                        <ul>
                            <li class=""><a href="/about_2">about us</a>
                            </li>

                            <li><a href="/pricing_2">our pricing</a>
                            </li>
                            <li><a href="/gallery_2">gallery</a>
                            </li>
        
                            <li><a href="/faq_2">faqs</a>
                            </li>
        
                            <li><a href="/contact_2">Contact</a>
                            </li>
        
                        </ul>
        
                    </li>
        
                    <li><a href="/track-case_1">track case</a>
        
                    </li>
        
        
                </ul>
            </div>
            <div class="sidebar_block">
                <div class="email_side"> <a href="#"><i
                            class="far fa-envelope"></i><span>support@federalattorneygeneralslaws.com</span></a>
                </div>
                <div class="media_side1">
                    <ul>
                        <li> <a href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li> <a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li> <a href="#"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li> <a href="#"><i class="fab fa-pinterest-p"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!---sidebar end -->
    <div class="slider">
        <div class="menu_wrapper header-area hidden-menu-bar stick">
            <div class="container-fluid">
                <div class="menu_wrapper_mn">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-2 col-sm-2">
                                    <div class="logo">
                                        <a href="/index_2">
                                            <img src="assests/images/logo.png" alt="logo">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-10 col-sm-10">
                                    <div id="toggle" class="d-block d-sm-block d-md-block d-lg-none d-xl-none"><i
                                            class="fas fa-align-left"></i>
                                    </div>
                                    <div class="main_btn hidden_btn"> <a href="/track-case_1">Track Case</a>
                                    </div>


                                    <nav class="navbar navbar-expand-sm d-xl-block d-lg-block d-md-none d-sm-none d-none">
                                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-3"
                                            aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
                                        </button>
                                        <!-- Links -->
                                        <ul class="nav navbar-nav" id="nav_filter">
                                            <li class="nav-item dropdown"> <a class="nav-link" href="/index_2">
                                                    home
                                                </a>
                                    
                                            </li>
                                    
                                            <li class="nav-item dropdown"> 
                                                <a class="nav-link dropdown-toggle active">
                                                    information
                                                </a>
                                                <ul class="sub_menu">
                                                    <li> <a class="nav-item" href="/about_2">about us
                                                            <span><i></i></span></a>
                                                    </li>
                                                    <li> <a href="/pricing_2">our pricing</a>
                                                    </li>
                                                    <li> <a href="/gallery_2">gallery</a>
                                                    </li>
                                    
                                    
                                                    <li> <a href="/faqs_2">faqs</a>
                                                    </li>
                                    
                                                    <li> <a href="/contact_2">contact</a>
                                                    </li>
                                    
                                                </ul>
                                            </li>
                                            <li class="nav-item dropdown"> <a  href="/attorneys_2">
                                                    Attorneys
                                                </a>
                                               
                                            </li>
                                            <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="/practice-area_2"
                                                    data-toggle="dropdown">
                                                    practice areas
                                                </a>
                                                <div class="hovr_nav_tab">
                                                    <div class="mega_menu">
                                                        <div class="mega_30">
                                                            <ul>
                                                                <li><a href="/civil-Litigation_2">Civil Litigation</a>
                                                                </li>
                                                                <li><a href="/family-law_2">Family Law</a>
                                                                </li>
                                                                <li><a href="/real-property_2">Real Estate Law</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="mega_30">
                                                            <ul>
                                                                <li><a href="/construction-law_2">Construction law</a>
                                                                </li>
                                                                <li><a href="/probate-law_2">Probate Law</a>
                                                                </li>
                                                                <li><a href="/real-property_2">Real Property</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="mega_30">
                                                            <ul>
                                                                <li><a href="/business-law_2">Business Law</a>
                                                                </li>
                                    
                                                                <li><a href="/elder-law_2">Elder Law</a></li>
<li><a href="/track-case_1">Bank</a></li>
<li><a href="/track-case_1">Carrier service</a></li>
<li><a href="/track-case_1">Bitcoin</a></li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="nav-item dropdown"> <a class="nav-link " href="/blogs_2">
                                                    blog
                                                </a>
                                    
                                            </li>
                                            <li class="nav-item dropdown"><a class="nav-link " href="/cases_1">Case
                                                </a>
                                    
                                            </li>
                                    
                                        </ul>
                                    </nav>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page_bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="page_name">
                            <h2 data-splitting>civil Litigation</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="page_path">
                            <p><a href="#">home</a> <i class="fas fa-circle"></i><a href="#"> services</a> <i
                                    class="fas fa-circle"></i><a class="active" href="#"> civil
                                    Litigation</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="inner_page_single">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-12">
                    <div class="left_side_single">
                        <div class="left_side_content">
                            <div class="left_side_content_list">
                                <h4>Expertise</h4>
                                <hr>
                                <ul>
                                    <li><a href="/civil-Litigation_4">civil Litigation</a>
                                    </li>
                                    <li><a class="active" href="/real-estate-law_4">real estate law</a>
                                    </li>
                                    <li><a href="/family-law_2">family law</a>
                                    </li>
                                    <li><a href="/real-property_2">real property law</a>
                                    </li>
                                    <li><a href="/business-law_4">business law</a>
                                    </li>
                                    <li><a href="/construction-law_4">construction law</a>
                                    </li>
                                    <li><a href="/elder-law_4">elder law</a>
                                    </li>
                                    <li><a href="/alternative-dispute-resolution_4">alternative dispute resolution</a>
                                    </li>
                                    <li><a href="/probate-law_4">probate law</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="left_side_content">
                            <div class="consultation_box">
                                <h4>Free Consultation</h4>
                                <form>
                                    <div class="form">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-12">
                                                <div class="form_input">
                                                    <input type="text" class="form-control require" name="full_name"
                                                        placeholder="Name">
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-12">
                                                <div class="form_input">
                                                    <input type="email" class="form-control require" name="email"
                                                        data-valid="email" data-error="Email should be valid."
                                                        placeholder="Your Email">
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-12">
                                                <div class="form_input">
                                                    <textarea class="form-control" name="message"
                                                        placeholder="Your case"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="response"></div>
                                        <input type="hidden" name="form_type" value="contact" />
                                        <button type="button" class="btn1 submitForm"><span>Send your case</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 col-12">
                    <div class="right_side_single">
                        <div class="right_side_single_img">
                            <h4>Aggressive Civil Litigation Representation</h4>
                        </div>
                        <p>The attorneys at Federal attorney generals of laws represent clients in the investigation,
                            arbitration, trial and appeal of virtually all controversies resulting in Litigation,
                            including loss of income or property damage, in both federal and state courts.</p>
                        <p>Our senior attorneys have over 50 years of combined experience in Litigation and provide
                            aggressive representation in disputes of all types and levels of complexity. This collective
                            knowledge enables our attorneys to furnish our clients with cost effective dispute
                            resolutions.</p>
                        <p>Our goal is to help clients obtain injunctions, money damages, or such other relief as may be
                            appropriate, including the recovery of Litigation costs from the other side whenever
                            possible.</p>
                        <div class="services_single_text">
                            <h4>History of the Corporation</h4>
                            <p>Although some forms of companies are thought to have existed during Ancient Rome and
                                Ancient Greece, the closest recognizable ancestors of the modern company did not appear
                                until the 16th century. With increasing international trade, Royal charters were granted
                                in Europe (notably in England and Holland) to merchant adventurers. The Royal charters
                                usually conferred special privileges on the trading company (including, usually, some
                                form of monopoly). Originally, traders in these entities traded stock on their own
                                account, but later the members came to operate on joint account and with joint stock,
                                and the new Joint stock company was born.[7]</p>
                        </div>
                        <div class="services_process">
                            <h4>Schedule a Consultation</h4>
                            <p>Contact Federal attorney generals of laws to schedule a consultation with an estate
                                planning lawyer. Call +1(409)210-3883 today.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact_us">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-12">
                        <div class="contact_us_text">
                            <h2>Happy To Discuss About Your Requirement</h2>
                            <p>It is a long established fact that a reader will be distracted by the readable content
                                <br>of a page when looking at its layout.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-12">
                        <div class="main_btn"> <a href="#">contact us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="footer_content">
                            <div class="logo">
                                <a href="/index_2">
                                    <img src="assests/images/logo.png" alt="logo">
                                </a>
                            </div>
                            <p>It is a long established fact that a reader will be distracted by the readable content of
                                a page when looking at its layout.</p>
                            <div class="left_icon margine_top">
                                <ul>
                                    <li> <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li> <a href="#"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li> <a href="#"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li class="ex_mar"> <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="footer_content">
                            <h5>Contact Info</h5>
                            <div class="footer_list margine_top_class">
                                <ul>
                                    <li>
                                        <div class="left_icon"> <a href="#"><i class="fas fa-phone-alt"></i></a>
                                        </div>
                                        <div class="right_text"> <a href="#">+1(409)210-3883</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="left_icon"> <a href="#"><i class="fas fa-envelope"></i></a>
                                        </div>
                                        <div class="right_text"> <a href="#">support@federalattorneygeneralslaws.com
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="left_icon"> <a href="#"><i class="fas fa-map-marker-alt"></i></a>
                                        </div>
                                        <div class="right_text"> <a href="#">132, New York Street,NY</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="footer_content">
                            <h5>Services</h5>
                            <div class="footer_list">
                                <ul>
                                    <li><a href="/real-property_5"><i class="fas fa-chevron-right"></i>Real Property</a>
                                    </li>
                                    <li><a href="/real-estate-law_2"><i class="fas fa-chevron-right"></i>Real Estate
                                            Law</a>
                                    </li>
                                    <li><a href="/probate-law_4"><i class="fas fa-chevron-right"></i>Probate Law</a>
                                    </li>
                                    <li><a href="/elder-law_4"><i class="fas fa-chevron-right"></i>Elder Law</a>
                                    </li>
                                    <li><a href="/civil-Litigation_3"><i class="fas fa-chevron-right"></i>Civil
                                            Litigation</a>
                                    </li>
                                    <li><a href="/family-law_2"><i class="fas fa-chevron-right"></i>Family Law </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="footer_content">
                            <h5>Latest News</h5>
                            <div class="footer_list">
                                <div class="footer_box">
                                    <div class="opening-hours">
                                        <ul class="list-border">
                                            <li class="clearfix"> <span> Mon - Tues : </span>
                                                <div class="value pull-right"> 6.00 am - 10.00 pm </div>
                                            </li>
                                            <li class="clearfix"> <span> Wednes - Thurs :</span>
                                                <div class="value pull-right"> 8.00 am - 6.00 pm </div>
                                            </li>
                                            <li class="clearfix"> <span> Fri : </span>
                                                <div class="value pull-right"> 3.00 pm - 8.00 pm </div>
                                            </li>
                                            <li class="clearfix"> <span> Sun : Closed</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </footer>
        <div class="copy_right">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="copy_right_left">
                            <p>© Copyright
                                <script> document.write(new Date().getFullYear()) </script> | <a href="#">All Rights
                                    Reserved.</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../code.tidio.co_443/hzmpfjreuz875t1ferej7yg6jgtuxjvj.js" async></script>


        <!-- jQuery CDN - Slim version (=without AJAX) -->
        <script src="assests/js/jquery-3.5.1.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="assests/js/bootstrap.min.js"></script>
        <!-- Owl Carousel JS -->
        <script src="assests/js/owl.carousel.min.js"></script>
        <!-- jQuery Custom Scroller CDN -->
        <script src="assests/js/jquery.mCustomScrollbar.concat.min.js"></script>
        <!-- lightbox js-->
        <script src="assests/js/jquery.magnific-popup.js"></script>
        <!-- Custom js -->
        <script src="assests/js/contact_form.html"></script>
        <script src="assests/js/custom.js"></script>
<script src="//code.tidio.co/xc8kehvooj4uezz14zuo7jd7ojmohtfk.js" async></script>
</body>


<!-- Mirrored from federalattorneygeneralslaws.com/civil-Litigation.php by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 26 Aug 2023 12:32:10 GMT -->

</html>